@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Hello World, welcome to my asp application right now the server is @DateTime.Now</h1>
    <br/>
    <br/>
    <br/>
    <h2>my name is franck,application what is yours?</h2>
    <br/>
    <br/>
    <br/>
    <h2>Becarful buddy</h2>

</div>
